CompileFlags:
  Add: [
    -std=c++17,
    -Wall,
    -Wextra,
    -O2,
    -pthread,
    -Xpreprocessor,
    -fopenmp,
    -I/opt/homebrew/opt/boost/include,
    -I/opt/homebrew/opt/libomp/include,
    -I/opt/homebrew/opt/tbb/include,
    -L/opt/homebrew/opt/boost/lib,
    -L/opt/homebrew/opt/libomp/lib,
    -L/opt/homebrew/opt/tbb/lib,
    -lomp,
    -ltbb
  ]
